.jumbotron {
    /* height: 150; */
    clear: both;
    margin-top: 20px;
    padding-bottom: 20;
    background-image: url("./gymfloor.JPG");
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    font-family:'Audiowide', cursive;
    text-align: center;
    color: hsl(225, 70%, 16%);
    /* background-blend-mode: inherit; */
    


}
/* {{ height: 150, clear: "both", paddingTop: 60, textAlign: "center", backgroundColor: "grey"}} */








